body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
:root {
    --mainPadding:150px 0;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
a {
    text-decoration: none;
    display: inline-block;
}
.headerProject {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.headerLogoText {
    cursor: pointer;
    padding: 10px;
}
.headerProject ul :last-child {
    padding:10px 20px;
    border: 1px solid gray;
    border-radius: 50px;
}
.landButton {
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px 60px;
    background:none ;
    transition: 0.3s;
    color: white;
}
.landButton:hover {
    background-color: white;
    color: orangered;
}
.landingTitle span {
    font-size: larger;
    font-weight: 1000;
}
.landingProject {
    background-image: url("./Images/orange-abstract-background-hd-1080p-141101.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}
.backProject {
    padding: var(--mainPadding);
    height: 120vh;
}
.backProject h3 {
    width: 85%;
}
.backTitle {
    display: flex;
    justify-content: center;
}
.backTitle span{
    font-weight: 1000;
    padding:0 10px;
    background-color: #f6efdc;
    color: #e4be77;
}
.backButton {
    border: 2px solid #fce7f1;
    border-radius: 25px;
    padding: 20px 60px;
    background-color:#fce7f1 ;
    transition: 0.3s;
    color: orangered;
}
.backButton:hover {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
}
.backProjectBg {
    background-color: #f8faff;
}
.imgAll img {
    width: 100%;
}
.imgAll .bottom {
    align-items: center;
    gap: 20px;
    font-size: small;
    display: none;
}
.imgAll .bottom .bottom-left {
    width: 15%;
}
.imgAll .bottom img{
    border-radius: 100%;
}
.imgAll .bottom p, .imgAll .top p {
    margin: 0;
}
.imgAll .bottom, .imgAll .top {
    padding: 10px;
}
.imgAll .bottom span {
    color: gray;
}
.imgAll .top {
    font-size: small;
    display: none;
}
.imgAll .top span {
    color: gray;
}
.middleImages1 .middle img {
    height: 35vh;
    width: 550px;
}
.middleImages2 .middle img {
    height: 40vh;
    width: 300px;
}
.imgAll:hover .top {
    display: block;
    transition: 0.5s;
}
.imgAll {
    transition: 0.5s;
}
.imgAll:hover .bottom {
    display: flex;
    transition: 0.5s;
}
.imgAll:hover {
    transform: scale(1.1);
}
.imagesProject {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    height: 100%;
}
.servicesProject {
    height: 100vh;
    padding: var(--mainPadding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    text-align: center;
}
.servicesProject .servTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.servicesProject .servTop span {
    color: #a8a7a7;
    font-size: small;
    letter-spacing: 2px;
}
.servicesProject .servTop h3 {
    font-weight: bold;
    width: 50%;
}
.servicesProject .servTop p {
    font-size: small;
    width: 55%;
    color: #a8a7a7;
}
.servicesProject .servBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.servicesProject .servBottom .iconCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.servicesProject .servBottom .iconCard p {
    font-size: small;
    color:  #a8a7a7;
    width: 80%;
}
.servicesProject .servBottom .iconCardIcon {
    font-size: xx-large;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 50%;
    width: 50px;
}
.servicesProject .servBottom .Icon1 {
    color: #29bae4;
    background-color: #def4fb;
}
.servicesProject .servBottom .Icon2 {
    color: #ee76ad;
    background-color: #fce7f1;
}
.servicesProject .servBottom .Icon3 {
    color: #efac78;
    background-color: #fdf2e9;
}
.servicesProject .servBottom .Icon4 {
    color: #79efb4;
    background-color: #eafdf4;
}
.subscribeProject {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 55vh;
    color: white;
    letter-spacing: 1px;
}
.subscribeProject p {
    font-size: small;
    width: 60%;
    color: #fddfdf;
}
.subscribeProjectBg {
    background-image: url("./Images/download.jpeg");
    background-size: cover;
}
.subscribeProject .subscribeBottom {
    border: 1px solid #fddfdf;
    border-radius: 50px;
    padding: 5px 10px;
}
.subscribeProject .subscribeBottom input {
    border: none;
    background: none;
}
.subscribeProject .subscribeBottom input::placeholder {
    color: #fddfdf;
}
.subscribeProject .subscribeBottom input:focus {
    color: white;
    outline: none;
}
.worksProject {
    padding: var(--mainPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}
.worksProject img {
    width: 100%;
    height: 70vh;
    box-shadow: 20px 20px 0 0 #fce7f1;
}
.worksProject .workMiddle .middle img {
    box-shadow: -20px 20px 0 0 #fce7f1;
}
.worksProject .workTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 50%;
}
.worksProject .workTop span {
    color: #a8a7a7;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.worksProject .workTop h3 {
    font-weight: bold;
    line-height: 1.5;
}
.worksProject .workTop p {
    font-size: small;
    color: #a8a7a7;
}
.worksProject .workMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}
.worksProject .workMiddle .workItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.worksProject .workMiddle .workItem span {
    color: #a8a7a7;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.worksProject .workMiddle .workItem h6 {
    font-weight: bold;
    line-height: 1.5;
    font-size: 2.5em;
}
.worksProject .workMiddle .workItem p {
    font-size: 19px;
    color: #a8a7a7;
    line-height: 1.8;
}
.worksProject .workMiddle .workItem .right {
    width:61.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.worksProject .workMiddle .workItem .left {
    width: 50%;
}
.worksProject .workMiddle button {
    border: 2px solid #fce7f1;
    border-radius: 25px;
    padding: 10px;
    background-color:#fce7f1 ;
    transition: 0.3s;
    color: orangered;
    letter-spacing: 2px;
    width: 40%;
}
.worksProject .workMiddle button:hover {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
}
.worksProject .workBottom button {
    border: 2px solid #fce7f1;
    border-radius: 25px;
    padding: 20px 60px;
    background-color:#fce7f1 ;
    transition: 0.3s;
    color: orangered;
    letter-spacing: 2px;
}
.worksProject .workBottom button:hover {
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
}
.customersProjectBg {
    background-color: #f8faff;
}
.customersProject{
    padding: var(--mainPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
    overflow: hidden;
}
.customersProject .customersTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 50%;
}
.customersProject img {
    width:30%;
    border-radius: 50%;
}
.customersProject .customersTitle span {
    color: #a8a7a7;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.customersProject .customersTitle h3 {
    font-weight: bold;
    line-height: 1.5;
}
.customersProject .customersTitle p {
    font-size: small;
    color: #a8a7a7;
}
.customersProject .customersCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.customersProject .customersCards .customersCard {
    background-color: white;
    padding: 45px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 10px 1px #dcd9d9;
}
.customersProject .customersCards .customersCard p {
    font-size: small;
    color:  #a8a7a7;
    line-height: 1.8;
}
.customersProject .customersCards .customersCard h6 {
    color: #fa8c64;
    margin: -5px;
}
.customersProject .customersCards .customersCard span {
    color: #fac4b0;
}
.achieveProjectBg {
    background-color: #29bae4;
}
.achieveProject{
    padding: var(--mainPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
    color: white;
    text-align: center;
}
.achieveProject .achieveTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.achieveProject .achieveTitle h3 {
    font-weight: bold;
    line-height: 1.5;
}
.achieveProject .achieveTitle p {
    font-size: small;
    color: #e4e4e4;
}
.achieveProject .achieveCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.achieveProject .achieveCards .achieveCard {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.achieveProject .achieveCards .achieveCard p {
    font-size: small;
    color: #e4e4e4;
    line-height: 1.8;
}
.achieveProject .achieveCards .achieveCard span {
    font-size: xx-large;
}
.blogProjectBg {
    background-color: #f8faff;
}
.blogProject{
    padding: var(--mainPadding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}
.blogProject .blogTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 50%;
}
.blogProject img {
    width:100%;
    height: 35vh;
}
.blogProject .blogTitle span {
    color: #a8a7a7;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.blogProject .blogTitle h3 {
    font-weight: bold;
}
.blogProject .blogTitle p {
    font-size: small;
    color: #a8a7a7;
}
.blogProject .blogCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.blogProject .blogCards .blogCard {
    background-color: white;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 10px 1px #dcd9d9;
}
.blogProject .blogCards .blogCard p {
    font-size: small;
    line-height: 1.8;
    padding: 20px;
    width: 85%;
    letter-spacing: 1px;
    font-weight: bold;
}
.blogProject .blogCards .blogCard span {
    color: #bab9b8;
    font-size: small;
    padding: 0 20px;
}
.footerProjectBg {
    background-color: #ee76ad;
}
.footerProject {
    padding: var(--mainPadding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
    color: white;
}
.footerProject .footerCards {
    display: flex;
    gap: 100px;
}
.footerProject .footerCard {
    max-width:360px;
}
.footerProject .footerCards ul {
    padding: 0;
}
.footerProject .footerCards ul li {
    display: block;
    color: #e3e3e3;
    padding: 10px 20px 10px 0;
    transition: 0.3s;
}
.footerProject .footerCards ul li:hover {
    color: white;
}
.footerProject .footerCards .card1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footerProject .footerCards .card1 p {
    width: 85%;
    color: #e3e3e3;
    line-height: 1.8;
}
.footerProject .footerCards .card2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footerProject .footerCards .card3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
}
.footerProject .footerCards .card3 p:hover {
    color: white;
}
.footerProject .footerCards .card3 :first-child {
    margin-bottom: 40px;
}
.footerProject .footerCards .card3 p {
    color: #e3e3e3;
    transition: 0.3s;
    cursor: pointer;
}
.footerProject .footerCards .card4 {
    display: flex;
    gap: 20px;
}
.footerProject .footerCards .card4 .footerIcon {
    padding: 10px;
    background: #f67eb5;
    border-radius: 50%;
    width: 20px;
}
.footerProject .footerCopy {
    text-align: center;
    color: #e3e3e3;
}





